# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\web_dev\laravel\php3_final\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
